bleach==1.5.0
enum34==1.1.6
html5lib==0.9999999
Keras==2.1.1
Markdown==2.6.9
numpy==1.13.3
protobuf==3.5.0.post1
PyYAML==3.12
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
sklearn==0.0
tensorflow-gpu==1.4.0
tensorflow-tensorboard==0.4.0rc3
Werkzeug==0.12.2